@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css");

.container {
    width: 300px;
}

.TodoItem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    background: #badfdb;
    border-radius: 10px;
    color: #626979;
    box-sizing: border-box;
    padding: 2px;
    margin: 1px;
    font-family: "fontAwesome";
    position: relative;
    font-size: 17px;
}

.TodoItem > span {
    width: 40px;
}

.TodoItem > span i {
    margin-left: 13px;
}

.TodoItem p {
    flex: auto;
    user-select: none;
}

.TodoItem-complete > p {
    text-decoration: line-through;
    opacity: .3;
}